app-work-login-left {
    height: 600px;
    width: 1000px;
}
app-work-login {
    height: 600px;
    width: 300px;
    float: right;
}

app-work-bottom {
    height: 200px;
    width: 1600px;
    border-width: 1px;
}